/* newIndex.html Styles */
/* main colors 
#25527B - blue-grey
#5DADBE - teal*/
/* #333 - dark content background */
/* whitesmoke = offwhite  */

/* Animations */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinking-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #25527B
  }
}

/* Universal Styles */
html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* Content Styles */
.contact>a {
  color: #5DADBE;
  font-size: 40px;
  margin: 0px 100px;
}

.container {
  margin: 0px;
  width: 100%;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.content--white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content--light {
  background-color: whitesmoke;
  color: #25527B;
}

.content--dark {
  background-color: #333;
  color: #5DADBE;
}

.content--dark p {
  color: whitesmoke;
}

h2 {
  font-size: 60px;
  text-align: center;
  padding: 25px;
}

hr {
  border-top: 2px solid rgba(153, 153, 153, 0.2);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#image_profile {
  border-radius: 50%;
  border: 3px solid #5DADBE;
}

.lead {
  color: #444;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.image_portfolio {
  object-fit: cover;
  width: 100%;
  margin: 15px 0px 30px;
  max-height: 100%;
  
}

#intro {
  background-image: url('../images/logo_transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88vh;
}

p {
  color: #444;
}

.typewriter {
  margin-bottom: 25px;
  height: 2.5em;
}

.typewriter h1 {
  /* Styling */
  border-right: .15em solid #25527B;
  font-family: monospace;
  letter-spacing: .10em;
  margin: 5% auto;
  overflow: hidden;
  white-space: nowrap;
  /* Animation */
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
}

.typewriter-wrapper {
  min-height: 80%;
}

/* old stuff  */
.margin-wrapper {
  margin: 0 15%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

footer {
  border-top: 5px solid #5DADBE;
}

.footer-image {
  height: 50px;
  width: 50px;
}

footer.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  background-color: #5DADBE;
  color: white;
  padding: 15px;
  margin: 0px 0px 0px 0px;
  width: 350px;
}

#main-navigation {
  display: flex;
  padding: 15px;
  margin: 0px 0px 0px 0px;
  width: 350px;
}

#main-navigation>.nav-item {
  align-self: auto;
  list-style-type: none;
  height: 25px;
  width: 110px;
  padding: 0 15px;
  padding-bottom: 50px;
}

.nav-item {
  align-self: auto;
  list-style-type: none;
}

.nav-item a {
  color: #999;
  font-size: 22px;
  text-decoration: none;
}

.nav-item a:hover {
  color: #777;
  font-weight: 500;
}

.nav-item:nth-child(even) {
  border-left: 2px solid rgba(153, 153, 153, 0.3);
  border-right: 2px solid rgba(153, 153, 153, 0.3);
  padding: 0px 15px;
}

/* Media Queries  */
@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
    max-width: 80%;
  }
}