/* newIndex.html Styles */
/* main colors 
#25527B - blue-grey
#5DADBE - teal*/
/* #333 - dark content background */
/* whitesmoke = offwhite  */

/*----------------------
  Typewriter Animations
----------------------*/
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinking-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #25527B
  }
}

/*--------------------
  General Page Styles
---------------------*/
html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

body {
  position: relative;
}

.contact>a {
  color: #5DADBE;
  font-size: 40px;
  margin: 0px 100px;
}

.container {
  margin: 0px;
  width: 100%;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.content--white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content--light {
  background-color: whitesmoke;
  color: #25527B;
}

.content--dark {
  background-color: #333;
  color: #5DADBE;
}

.content--dark p {
  color: whitesmoke;
}

h2 {
  font-size: 60px;
  text-align: center;
  padding: 25px;
}

hr {
  border-top: 2px solid rgba(153, 153, 153, 0.2);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#image_profile {
  border-radius: 50%;
  border: 3px solid #5DADBE;
}

.lead {
  color: #444;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

ul.list_style--none {
  list-style-type: none;
  padding-left: 0px;
}

ul.list_style--none > li {
  padding-top: 15px;
}

.image_portfolio {
  object-fit: cover;
  width: 100%;
  margin: 15px 0px 30px;
  max-height: 100%;

}

#intro {
  background-image: url('../images/logo_transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88vh;
}

p {
  color: #444;
}

.typewriter {
  margin-bottom: 25px;
  height: 2.5em;
}

.typewriter h1 {
  /* Styling */
  border-right: .15em solid #25527B;
  font-family: monospace;
  letter-spacing: .10em;
  margin: 5% auto;
  overflow: hidden;
  white-space: nowrap;
  /* Animation */
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
}

.margin-wrapper {
  margin: 0 15%;
}

.name {
  background-color: #5DADBE;
  color: white;
  padding: 15px;
  margin: 0px 0px 0px 0px;
  width: 350px;
}

.skill-level {
  float: right;
  margin-right: 20px;
}

.typewriter-wrapper {
  min-height: 80%;
}

/* ---------------
  Footer
-----------------*/

footer {
  border-top: 5px solid #5DADBE;
}

.footer-image {
  height: 50px;
  width: 50px;
}

footer.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ---------------
  Navigation
-----------------*/

#main-navigation {
  display: flex;
  padding: 15px;
  margin: 0px 0px 0px 0px;
  width: 350px;
}

#main-navigation>.nav-item {
  align-self: auto;
  list-style-type: none;
  height: 25px;
  width: 110px;
  padding: 0 15px;
  padding-bottom: 50px;
}

.nav-item {
  align-self: auto;
  list-style-type: none;
}

.nav-item a {
  color: #999;
  font-size: 22px;
  text-decoration: none;
}

.nav-item a:hover {
  color: #777;
  font-weight: 500;
}

.nav-item:nth-child(even) {
  border-left: 2px solid rgba(153, 153, 153, 0.3);
  border-right: 2px solid rgba(153, 153, 153, 0.3);
  padding: 0px 15px;
}

/*---------------
  Image Effects
---------------*/
#projects .row>div {
  margin-bottom: 30px;
}

#projects figure {
  position: relative;
  overflow: hidden;
}

#projects figure h3 {
  color: #FFF;
  font-weight: 600;
  margin-bottom: 5px;
}

#projects figure p>strong {
  width: 60px;
  display: inline-block;
  margin: 0px;
}

#projects figure img {
  width: 110%;
}

#portfolio figure figcaption {
  padding: 20px 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#portfolio figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#portfolio figure .icon {
  background: #5DADBE;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
}

#portfolio figure .icon span {
  font-size: 18px;
  line-height: 18px;
  padding: 15px;
}

figure.effect {
  background: #5DADBE;
  color: #FFF;
}

figure.effect img {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img {
  opacity: 0.15 ;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
  padding-left: 15px;
  text-align: left;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform .35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ---------------
  Media Queries  
-----------------*/
@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
    max-width: 80%;
  }
}